@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand img {
  width: 40px;
  margin-right: 10px;
}

.btn-primary,
.bg-primary {
  border: none !important;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.project-completed {
  background: #5cb85c;
}

.project-notstarted {
  background: #d9534f;
}

.project-ongoing {
  background: #f0ad4e;
}
